*{
    padding:0px;
    margin:0px;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.two{
    text-align: center;
    line-height: 2;
    width: 45%;
}
.two a{

    color:purple !important;
}
.two hr{
    width: 60px;
    color:purple !important;
}
.hr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% 0;
}
.two p{
    font-weight: 600;
}