@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600;800&display=swap');
.App {
  text-align: center;
}

.text, button {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: "500";
  font-size: "29px";
  line-height: "43px";
}

.check{
  height: 500px;
  width: 100%;
background-image: url("./asset/image21.png");
background-size: cover;
background-repeat: no-repeat;
}

mark{
  color:red;
  background-color: white;
}

.case{
   height: 500px;
   width: 100%;
   background-image: url("./asset/image22.png");
   background-size: cover;
   background-repeat: no-repeat;
}

.explor{
    height: 650px;
    width: 100%;
    background-image: url("./asset/image23.png");
    background-size: cover;
    background-repeat: no-repeat;
}
