@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600;800&display=swap');
.App{
  height: 1080px;
  width: 1920px;
}

button {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: "500";
  font-size: "29px";
  line-height: "43px";
}

.check{
  height: 600px;
  width: 100%;
background-image: url("./asset/image21.png");
background-size: cover;
background-repeat: no-repeat;
}

mark{
  color:red;
  background-color: white;
}

.case{
   height: 600px;
   width: 100%;
   background-image: url("./asset/image22.png");
   background-size: cover;
   background-repeat: no-repeat;
}

.explor{
    height: 650px;
    width: 100%;
    background-image: url("./asset/image23.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav{
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.navbutton{
  flex: 1;
  text-align: center;
}
.navbutton ul li{
  list-style: none;
  padding: 8px 20px;
  display: inline-block;
  position: relative;
}
.navbutton ul li button{
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  outline: none;
  border:none;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
   font-family: "Poppins";
}
